/* div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.odd-numbered {
    background-color: hsla(357, 56%, 76%, 0.849);
    font-family: "Verdana", "DejaVu Sans", sans-serif ;
}

.odd-third {
    font-size: 24px;
}
.forth {
    background-color: hsl(120, 73%, 75%);

}

#two-unique{ 
    color: hsl(240, 100%, 50%);
    font-size: 36px;
    font-weight: bold;
}
#four-unique{
    font-weight: bold;
} */


.first,
.second
{
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}
.first {
    background-color: black;
    color: white;
}
.second {
    background-color: yellow;
    color: black;
}